.pen {
  cursor: url(https://assets.codepen.io/210284/frank_32.svg), 2 2, none;
}

.app {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
}

.timer {
  margin: 10px 0;
  padding: 5px 100px;
  border-radius: 13px;
  background-color: black;
  color: white;
  font-size: 86px;
}

button {
  padding: 15px;
  font-size: 24px;
  background-color: aliceblue;
  border-radius: 13px;
}
